body{
    font-family: 'Poppins', sans-serif;
    margin: 0px;

}

h1{
    font-size: 50px;
}
.one {
    display: flex;
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
    padding-left: 60px;
}
.two {
    display: flex;
    background-image: url(images/dream-bg.png);
    background-position: right bottom;
    background-repeat: no-repeat;
    padding-left: 60px;
}
.division {
    display: flex;
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left bottom;
    padding-left: 60px;
}
.half-width {
    width: 48%;
    padding: 20px;
}
.images {
    width: 95%;
}

.color {
    color: tomato;
}

.button {
    text-decoration: none;
    background-image: linear-gradient(tomato, rgb(255, 71, 230));
    border-radius: 5px;
    padding: 10px 40px;
    color: white;
    font-weight: 700;
}



#baby{
    box-shadow: 5px 7px 40px gray;
    width: 40%;
    margin-left: 10%;
    border-left: 7px solid;
    border-radius: 5px;
    border-image: linear-gradient(lightsalmon, tomato);
    border-image-slice: 1;
}
#full-stack {
    box-shadow: 5px 7px 40px gray;
    width: 40%;
    border-left: 7px solid;
    border-radius: 5px;
    border-image: linear-gradient(blue, cyan);
    border-image-slice: 1;
}

footer{
    text-align: center;
    padding-top: 50px;
}
h4{
    font-size: 40px;
}
.latest-work h1 {
    text-align: center;
    padding: 25px 0;
  }
  .work-item {
    display: table;
  }
  .work-item img {
    width: 29%;
    padding: 0%;
    margin: 2%;
    float: left;
    box-shadow: 7px 7px 20px gray;
  }
  